@model IEnumerable<Api.Models.SubSectionViewModel>
@{
    ViewData["Title"] = "Index";
}
<h2>Index</h2>
<div class="panel panel-primary">
    <div class="pull-right">
        <a asp-action="Create" class="btn btn-success">
            Create New
            <span class="glyphicon glyphicon-plus-sign"></span>
        </a>
    </div>
    <div class="panel-heading">
        <div class="panel-title">
            SubSection List
        </div>
    </div>
    <div class="panel-body" style="padding:0px">
        <table class="table table-bordered table-hover table-striped table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Order)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Active)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Section)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ModifiedDate)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Order)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Section)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedDate)
                    </td>
                    <td>
                        <a asp-action="Edit/@item.Id" title="Edit">
                            <span class=" glyphicon glyphicon-edit"></span>
                        </a> |
                        <a asp-action="Delete/@item.Id" title="Delete">
                            <span class=" glyphicon glyphicon-remove-circle"></span>
                        </a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>